process.executor = 'slurm'

process {
    withName: FastQC {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: TrimGalore {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }

    withName: STARAlign {
        cpus = 8
        memory = '32 GB'
        time = '6h'
    }

    withName: StringTie {
        cpus = 4
        memory = '16 GB'
        time = '3h'
    }

    // Add this to see job commands/logs
    echo = true
    scratch = true
}

params {
    fastq = 'data/fastq/*.fastq.gz'
    star_index = 'star_index'
    gtf = 'annotation.gtf'
    genome = 'genome.fa'
    outdir = 'results'
    threads = 8
}

executor {
    queueSize = 100
}

