process.executor = 'slurm'

nextflow.enable.dsl=2



executor {
    queueSize = 20
}



params {
    stringtie_cpus = 4
    stringtie_mem = '256 GB'
    outdir = 'results'
    bams = 'results/bam/*.Aligned.sortedByCoord.out.bam'
    gtf = 'data/ref/gencode.v47.primary_assembly.annotation.gtf'
}

process {

    withName: StringTie {
        cpus = params.stringtie_cpus
        memory = params.stringtie_mem
        errorStrategy = 'retry'
        maxRetries = 2
    }

    // Add this to see job commands/logs
    echo = true
    scratch = true
}

workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something when wrong"
}

